<h1>Hello world, Angular!</h1>

<div>
    <nav>
        <a class="headerElement" routerLinkActive="selected" routerLink="/firstComponent">First component</a>
        <a class="headerElement" routerLinkActive="selected" routerLink="/pokeList">PokeList</a>
        <a class="headerElement" routerLinkActive="selected" routerLink="/directives">Directives</a>
        <a class="headerElement" routerLinkActive="selected" routerLink="/ifRenderer">If Renderer</a>
        <a class="headerElement" routerLinkActive="selected" routerLink="/events">Events</a>
        <a class="headerElement" routerLinkActive="selected" routerLink="/emitter">Emitter</a>
        <a class="headerElement" routerLinkActive="selected" routerLink="/pipes">Pipes</a>
        <a class="headerElement" routerLinkActive="selected" routerLink="/binding">Binding</a>
        <a class="headerElement" routerLinkActive="selected" routerLink="/itemsList">Items List</a>
        <a class="headerElement" routerLinkActive="selected" routerLink="/apiList">Api PokeList</a>
    </nav>
    <router-outlet></router-outlet>
</div>